.botaoAu {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-165px;
    margin-top:-40px;
    }
.botaoDi {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:+55px;
    margin-top:-40px;
    }
.tudo {
    justify-content: center;
    box-sizing: content-box;
}
.contagem{

    margin-top:210px;

}